---
import Logo from "@/assets/Logo.astro";
import LogoAndLabel from "@/assets/LogoAndLabel.astro";
---

<>
  <div class="flex-col items-center justify-center w-20 hidden md:flex">
    <LogoAndLabel />
  </div>
  <div class="flex-col items-center justify-center w-14 flex md:hidden">
    <Logo />
  </div>
</>
